<turbo-frame id="measurement-frame-<%= params[:frame_id] %>">
    <% for y in 0..Measurement::FRAME_COLUMNS - 1 do %>
        <div class="row">
            <% for x in 0..2 do %>
                <% unless (index = y * 3 + x) >= @measurements.length %>
                    <div class="col-4">
                        <% current = @measurements[index] %>
                        <%= link_to measurement_path(current), id: index + @offset, class: "link-card" do %>
                            <% if current.measured_at.today? %>
                                <%= current.measured_at.strftime("%H:%M") %>
                            <% else %>
                                <%= current.measured_at.strftime("%d %B %Y - %H:%M") %>
                            <% end %>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
        </div>
    <% end %>
</turbo-frame>