<turbo-frame class="measurement-frame <%= "d-none" if frame == "empty" %>" id="measurement-frame-<%= frame %>" src="/frames/measurements/<%= frame %>" loading="lazy" target="_top">
    <div class="d-flex justify-content-center align-items-center" style="height: 500px">
        <div class="m-5 spinner-grow text-success"></div>
    </div>
</turbo-frame>