<div class="d-flex align-items-center">
    <%= image_tag "icons/#{data[:icon]}.png", height: "30px" %>
    <span class="fs-5 ms-1"><%= measurement[data[:data]].round(1) %><%= data[:unit] %></span>
</div>