<div class="container text-center">
    <h1 class="my-4"><%= tp "graph_for" %> <%= @name %></h1>
    <div class="row">
        <div class="col-12">
            <% @timeframes.each do |title, data| %>
                <div class="my-2 border rounded bg-light">
                    <h3><%= title %></h3>
                    <%= line_chart Measurement::data_for(data[:measurements], @key), points: data[:points] %>
                </div>
            <% end %>
        </div>
    </div>
</div>
