<div class="d-none" data-controller="time-zone"></div>

<div class="d-flex justify-content-center align-items-center locale-container">
    <div class="text-center">
        <h1>Checking your Browser settings</h1>
        <h3>Hold on...</h3>
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>