body {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body, body#measurement-list, body#measurement-show {
    background-image: url("background.jpg");
    background-size: 100vw 100vh;
}