.link-card {
    background: #1814ff;
    border: 2px solid #001b9f;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    
    text-decoration: none;
    color: rgba(115, 255, 239, 0.742);

    display: block;
    width: 100%;
}

.link-card:hover {
    color: rgb(10, 128, 255);
}

.title {
    background: #1814ff;
    border: 2px solid #001b9f;
    border-radius: 5px;
    padding: 10px;
    color: rgba(115, 255, 239, 0.742);
    text-decoration: none;
}

.blue-text {
    color: rgba(115, 255, 239, 0.742);
}